/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=../chat_app.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

#container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 24px);
    padding: 10px 12px;
    color: var(--color-yep-chat-primary-text);
}

#conversation-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conversation-content {
    flex-grow: 1;
}

.conversation-content .message-container {
    display: block;
    padding: 10px 12px;
}

.query-prompt-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 12px;
    border-radius: 8px;
    background: var(--color-yep-chat-prompt-background);
}

.auto-width {
    width: auto;
}

.content-fit-width {
    width: fit-content;
}

.query-prompt-container .siteinfo-section {
    display: flex;
    flex-direction: row;
    width: auto;
    max-width: 100%;
    gap: 6px;
}

.query-prompt-container .siteinfo-section .vertical-bar{
    display: block;
    flex: 0 0 auto;
    width: 4px;
    border-radius: 3px;
    background: var(--color-yep-chat-site-info-vertical-bar-background);
}

.query-prompt-container .siteinfo-section .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-weight: 400;
    font-size: 12px;
    width: auto;
    max-width: 100%;
}

.query-prompt-container .siteinfo-section .content .title {
    width: 95%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.query-prompt-container .siteinfo-section .content .url {
    width: 95%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--color-yep-chat-secondary-text);
}

.query-prompt-container .prompt-section {
    font-weight: 400;
    width: fit-content;
    word-wrap: break-word;
    white-space: normal;
}

.action-buttons-container {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 6px;
}

.action-button {
    display: inline-block;
    padding: 10px 12px;
    border: 1px solid var(--color-yep-chat-panel-border);
    border-radius: 12px;
    font-weight: 510;
    cursor: pointer;
    text-decoration: none;
    background: var(--color-yep-chat-panel-background);
    color: var(--color-yep-chat-primary-text);
}

#prompt-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 12px;
    background: var(--color-yep-chat-prompt-background);
}

.site-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    white-space: nowrap;
    width: 100vw;
    max-width: 100%;
}

.site-info-container .site-info-content {
    width: 98%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    box-sizing: border-box;
}

.typing-content {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100vw;
    max-width: 100%;
}

.typing-content .prompt-input {
    display: inline-block;
    width: 90%;
}

.typing-content .send-btn {
    display: inline-block;
    width: auto;
}