/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=../chat_app.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

#container {
    display: flex;
    flex-direction: column;
    height: 99vh;
    padding: 0 0 16px 0;
    color: var(--color-yep-chat-primary-text);
    box-sizing: border-box;
    font-size: 13px;
    line-height: 20px;
    box-sizing: border-box;
}

#header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    padding: 0 16px 0 16px;
    border-bottom: 1px solid var(--color-yep-chat-panel-border);
    z-index: 10;
}

#header-container .header-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 12px;
}

#header-container .header-btn {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
}

.header-btn .header-icon {
    display: block;
    width: 20px;
    height: 20px;
    color: var(--color-yep-chat-secondary-text);
}

.header-title-container .chat-title {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.chat-scroller {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    margin-block-start: 10px;
}

.chat-scroller::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}

.chat-scroller::-webkit-scrollbar-thumb {
    background: var(--color-yep-chat-site-info-vertical-bar-background);
    background-clip: content-box;
    border: solid 1.5px transparent;
    border-radius: 100px;
}

.chat-scroller-top-of-page::-webkit-scrollbar-track {
    margin-block-start: 8px;
}

#conversation-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 0 0 16px;
    z-index: 0;
    scroll-behavior: smooth;
    will-change: scroll-position;
    scrollbar-gutter: stable;
    scroll-snap-stop: always;
}

.conversation-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1px;
    padding: 0 12px 0 0;
}

.conversation-content .message-markdown-container {
    display: block;
    padding: 0 12px 0 12px;
    background: var(--color-yep-chat-panel-background);
    color: var(--color-yep-chat-primary-text);
}

.vertical-space {
    padding-top: 2px;
}

.chat-about-this-page-btn {
    display: flex;
    justify-content: flex-start;
    gap: 6px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    width: fit-content;
}

.chat-about-this-page-btn .add-icon-wrapper {
    flex: 0 0 auto;
    height: 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.chat-about-this-page-btn .add-icon-wrapper .add-icon {
    display: block;
    width: 14px;
    height: 14px;
    color: var(--color-yep-chat-tertiary-text);
}

.chat-about-this-page-btn .label {
    flex: 0 0 auto;
    font-weight: 510;
    font-size: 12px;
    color: var(--color-yep-chat-tertiary-text);
}

.query-prompt-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 10px;
    padding: 0 10px 8px 10px;
    border-radius: 12px;
    background: var(--color-yep-chat-prompt-background);
    max-width: calc(100vw - 36px);
}

.width-with-top-padding {
    width: 80vw;
    padding-top: 10px;
}

.content-fit-width-top-padding {
    width: fit-content;
    padding-top: 8px;
}

.siteinfo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 6px;
    color: var(--color-yep-chat-primary-text);
}

.siteinfo-container .siteinfo-content {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 97vw;
    overflow: hidden;
    width: 97vw;
}

.siteinfo-content div {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: break-word;
    overflow-wrap: break-word;
}

.siteinfo-content div.siteinfo-url {
    color: var(--color-yep-chat-secondary-text);
}

.siteinfo-button {
    cursor: pointer;
}

.vertical-bar {
    display: block;
    flex: 0 0 auto;
    width: 4px;
    border-radius: 3px;
    background: var(--color-yep-chat-site-info-vertical-bar-background);
}

.remove-siteinfo-button {
    display: block;
    flex: 0 0 auto;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.remove-siteinfo-button .remove-icon {
    display: block;
    width: 14px;
    height: 14px;
    color: var(--color-yep-chat-secondary-text);
}

.query-prompt-container .prompt-section {
    font-weight: 400;
    width: fit-content;
    word-wrap: break-word;
    box-sizing: border-box;
    display: block;
    overflow-wrap: anywhere;
    text-size-adjust: 100%;
    text-wrap: wrap;
    unicode-bidi: isolate;
    white-space: pre-wrap;
    white-space-collapse: preserve;
}

.action-buttons-container {
    display: flex;
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 6px;
}

.action-button {
    display: block;
    padding: 10px 12px;
    border: 1px solid var(--color-yep-chat-panel-border);
    border-radius: 12px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    background: var(--color-yep-chat-panel-background);
    color: var(--color-yep-chat-primary-text);
}

#prompt-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 12px 12px 12px 12px;
    margin: 0 18px 0 16px;
    gap: 8px;
    background: var(--color-yep-chat-prompt-background);
    border: 1px solid var(--color-yep-chat-panel-background);
}

.typing-content {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-start;
    gap: 4px;
    width: 100vw;
    max-width: 100%;
    background: transparent;
}

.typing-content .prompt-input {
    display: block;
    flex-grow: 1;
}

#error {
    display: block;
    font-size: 11px;
    padding: 6px 12px 12px 12px;
    margin: 0 16px 0 16px;
    color: var(--color-yep-chat-error);
}

.send-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    color: var(--color-yep-chat-send-button-background);
    background-color: var(--color-yep-chat-send-button-foreground);
}

.send-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.send-icon {
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
}

.send-btn:disabled {
    color: var(--color-yep-chat-tertiary-text);
}

.message-markdown-container p {
    font-weight: 400;
    line-height: 18px;
}

.message-markdown-container a {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

.message-markdown-container a:hover {
    text-decoration: none;
    color: inherit;
}

.message-markdown-container h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.message-markdown-container h2 {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
}

/* this is for think block */
.message-markdown-container blockquote:first-child {
    border-left: 2px solid var(--color-yep-chat-site-info-vertical-bar-background);
    margin: 12px 0 10px 0;
    padding: 0 0 0 6px;
    font-size: 12px;
    color: var(--color-yep-chat-tertiary-text);
}

.message-markdown-container blockquote {
    border-left: 5px solid var(--color-yep-chat-site-info-vertical-bar-background);
    margin: 0;
    padding: 0 0 0 6px;
}

.message-markdown-container code {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    border-radius: 2px;
    padding: 4px 7px;
    background: var(--color-yep-chat-prompt-background);
    color: var(--color-yep-chat-primary-text);
}

.message-markdown-container pre {
    border-radius: 6px;
    max-width: 90vw;
    padding: 14px;
    background: var(--color-yep-chat-prompt-background);
    color: var(--color-yep-chat-primary-text);
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

.message-markdown-container pre::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}

.message-markdown-container pre::-webkit-scrollbar-thumb {
    background-color: var(--color-yep-chat-site-info-vertical-bar-background);
    background-clip: content-box;
    border: solid 1.5px transparent;
    border-radius: 100px;
}

.message-markdown-container pre code {
    line-height: 22px;
    padding: 0;
}

.message-markdown-container table {
    border-collapse: collapse;
}

.message-markdown-container table thead th {
    text-align: left;
}

.message-markdown-container table tr {
    border: 1px solid var(--color-yep-chat-panel-border);
    border-left: none;
    border-right: none;
}

.message-markdown-container table th, td {
    padding: 10px;
}

.message-markdown-container ul {
    line-height: 18px;
    list-style-type: disc;
    padding-left: 14px;
}

.message-markdown-container ol {
    line-height: 18px;
    list-style-type: decimal;
    padding-left: 14px;
}

.message-markdown-container ol ul, ul ol {
    padding-left: 14px;
}

.message-markdown-container ol ol {
    list-style-type: lower-alpha;
}

.message-markdown-container li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-markdown-container .caret {
    display: inline-block;
    width: 8px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--color-yep-chat-site-info-vertical-bar-background);
    margin-left: 1px;
    vertical-align: middle;
}

.message-markdown-container blockquote:first-child .caret{
    display: none !important;
    visibility: hidden !important;
}