/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=../chat_prompt_input.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

#input {
    display: block;
    resize: none;
    line-height: 1.5em;
    border: none;
    outline: none;
    padding: 12px 0 0 0;
    margin: 0;
    font-weight: 400;
    box-shadow: none;
    overflow-y: auto;
    height: 1lh;
    min-height: 1lh;
    color: var(--color-yep-chat-primary-text);
    font-family: 'Roboto', 'Arial', sans-serif;
    width: 100%;
    background: var(--color-yep-chat-prompt-background);
    border-radius: 0px;
}
